@font-face {
  font-family: 'Spin Cycle OT';
  src: url('./assets/fonts/Spin-Cycle-OT/spincycle_3d_ot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
main {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

/* =======Base=======  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  width: 100%;
}

body {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  color: white;
  background-color: #ff6565;
  outline: none;
  border: 0px;
  border-radius: 22px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  width: 162px;
  height: 44px;
}

.button:hover,
.button:active {
  opacity: 0.9;
}

a:hover,
a:active {
  color: #ff6565;
}

/* =======Layout======= */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/* =======header,hero======= */

.header {
  background-image: url(./assets/images/headphones_hero_1.jpg);
  background-color: #071629;
  max-width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

.img-logo {
  width: 161px;
  height: 32px;
}

.nav {
  list-style: none;
  display: flex;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
}

.nav-item {
  margin: 0 41px 0 41px;
}

.nav-item:first-child,
.nav-item:last-child {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #ff6565;
}

.hero {
  padding-top: 312px;
  max-width: 637px;
  text-align: center;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2rem;
  margin: 0;
}

.header span {
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
}

.header p {
  font-size: 1rem;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}
.hero button {
  margin: 40px auto 65px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

/* =======Hambuger Menu======= */

.menu-icon {
  cursor: pointer;
  position: absolute;
  user-select: none;
  height: 2px;
  top: 38px;
}

.navicon {
  display: block;
  width: 13px;
  height: 2px;
  /* position: relative; */
  background: #f2f2f2;
  border-radius: 2px;
}

.menu-icon {
  display: none;
}

.menu-icon .navicon::before,
.menu-icon .navicon::after {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  background: #f2f2f2;
  transition: all 0.2s ease-out;
  border-radius: 2px;
}

.menu-icon .navicon::before {
  width: 18px;
}

.menu-icon .navicon::before {
  top: calc(4px + 2px);
}
.menu-icon .navicon::after {
  top: calc(-4px - 2px);
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .navbar-menu {
  display: block;
}

.menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
  width: 20px;
  top: 0px;
}

.menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  width: 0;
}

@media screen and (min-width: 769px) and (max-width: 1060px) {
  .container {
    max-width: 85vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 82.4vw;
  }
}

@media screen and (max-width: 480px) {
  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(7, 22, 41, 1)
      ),
      url(./assets/images/headphones_hero_1.jpg);
    background-position: 35%;
    background-position-y: -40px;
    background-size: cover;
    height: auto;
  }
  .container {
    max-width: 400px;
  }
  .menu-icon {
    display: block;
    top: 44px;
    left: 0;
  }
  .header-container {
    flex-direction: column;
    position: relative;
    padding-top: 29px;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }

  .header-logo {
    margin: 0 auto;
  }
  .navbar-menu {
    display: none;
  }
  .nav {
    flex-direction: column;
    text-align: center;
    padding: 0;
    font-size: 0.85rem;
  }
  .nav-item {
    margin: initial;
    margin: 35px;
  }
  .hero {
    padding-top: 266px;
    padding-bottom: 106px;
  }
  .hero span {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hero .button {
    margin-top: 50px;
    margin-bottom: 65px;
  }
  .hero p {
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media screen and (max-width: 410px) {
  .header-container {
    width: 333px;
  }
  .container {
    max-width: 95.4vw;
  }
  .hero span {
    padding-left: 39px;
    padding-right: 39px;
  }
  .hero .button {
    margin-top: 20px;
  }
}